#footer {
    overflow: hidden;
    bottom: 0;
    width: 100%;
    
    
}
#lol{
    background-color: whitesmoke;
}
#loli{
    background-color: whitesmoke;
}
#lolo{
    background-color: whitesmoke;
}
